version: '3.8'
services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/static:/app/static
    environment:
      - FLASK_ENV=development
    depends_on:
      - mmdetection
      - craft
      - srnet

  mmdetection:
    build:
      context: ./models/mmdetection
    ports:
      - "5001:5001"
  craft:
    build:
      context: ./models/craft
    ports:
      - "5002:5002"
  srnet:
    build:
      context: ./models/srnet
    ports:
      - "5003:5003"